/* Desktop First*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Desktop (992px ate infinito)*/
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.form-img {
    border-radius: 50%;
    border: 1px solid black;
}



/*Tablet - 992px (768px ate 991)*/
@media screen and (max-width: 991px) {
    h1 {
        color: green;
    }

    .form-image {
        display: none;
    }
}



/*Smartphone - 772px(0px ate 767px)*/
@media screen and (max-width: 767px) {


    .form-contact__linha {
        flex-direction: column;
        margin-bottom: 25px;

    }

    .form-contact__col-a {
        width: 100%;
    }

    .form-contact__col-b{
        width: 100%;
    }

    .form-contact__col-a{
        margin-bottom: 10px;
    }

    .form-contact__col-b {
        flex-direction: column;
        gap: 15px;

    }


    .form-contact__input--metade {
        /*deixa um espaco entr eles*/
        width: 100%;
    }


    .form-contact__input--inteiro {
        width: 100%;
    }


    .form-contact__input--terco {
        width: 100%;
    }



    .form-contact__input--quarto {
        width: 100%;
    }



    .form-contact__input--anotacoes {
        width: 100%;
    }


    .form-contact__label {
        display: none;
    }

}