@font-face{
    font-family: Architects Daughter;
    src: url(../Css/fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}



    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to top, #00c8ff,#72c3bd);
    background-repeat: no-repeat;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /*border: 1px solid #fff;*/
}

.container--flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-header__image-perfil{
    width: 100px;
    padding: 20px;
    
    box-shadow: 0 0 7px rgba(222, 210, 124, 0.2)
}

.form-header__title{
 color: #ded27c;
 font-family: Architects Daughter, sans-serif;
}

.form-header__text{
    color: #000000;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

.form-contact{
    padding: 20px;
}

.form-contact__linha{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*height: 60px;*/
  
}

.form-contact__col-a{
    width: 10%;
    height: 100%;
    
}

.form-contact__col-b{
    display: flex;
    justify-content: space-between;
    width: 90%;
    
   
}

.form-contact__label{
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

/*tudo oque e padrao nos input ficara aqui*/
.form-contact__input{
padding: 5px 10px;
height: 35px;
border: none;
box-shadow: 0 0 10px rgba(62, 62, 221, 0.815);
border-radius: 3px;
outline: none;
transition: background-color 0.4s, color 0.4s;
}


.form-contact__input:focus{
    background-color: #45bcdc;
    color: white;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}



.form-contact__input::placeholder{
    color: #45bcdc;
}


.form-contact__input--metade{
/*deixa um espaco entr eles*/
width: 48%;
}


.form-contact__input--inteiro{
width: 100%;
}


.form-contact__input--terco{
width: 32%;
}



.form-contact__input--quarto{
   width: 24%; 
}



.form-contact__input--anotacoes{
    width: 100%;
    height: 200px;
}


.form-contact__col-b--botao{
    display: flex;
    justify-content: center;
    gap: 15px;
}


.form-contact__col-b--botao button{
    padding: 10px 20px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #01bdb7;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
}

.form-contact__col-b--botao button:hover{
    background-color: #53fcda;
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 251, 13, 0.499);
}

footer{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    background-color: #01bdb7;
    background: rgba(0, 0, 0, 0.1);
}